server:
  port: 8081

spring:
  application:
    name: sqlgenerate

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /v3/api-docs
    enabled: true
  packages-to-scan: org.example.sqlgenerate.createSql.controller
  paths-to-match: /sql/**
